@font-face {
  font-family: neue_normal;
  src: url(../../public/font/NeueMontreal-Medium.otf);
}

@font-face {
  font-family: neue_bold;
  src: url(../../public/font/NeueMontreal-Bold.otf);
}

@font-face {
  font-family: garamondd;
  src: url(../../public/font/EBGaramond-Italic-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
}

.techviz {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -6px;
  text-transform: uppercase;
  font-size: 1.2em;
}

.links {
  display: flex;
  gap: 18px;
  color: rgb(241, 114, 46);
  cursor: pointer;
  font-family: "neue_normal";
  font-weight: 500;
  letter-spacing: -0.4px;
  top: 0px;
  right: 10px;
}
.underlinee {
  --line: #f1722e;
  --color: #f1722e;
  text-decoration: none;
  color: var(--color);
  position: relative;
}
.underlinee span {
  background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: var(--background-size, 100%) 2.2px;
  transition: background-size 0.2s linear var(--background-delay, 0.15s);
  font-size: 0.35em;
  /* line-height: 20px; */
  transform: translateZ(0);
  padding: 2px;
}
.underlinee svg {
  vertical-align: top;
  display: inline;
  line-height: 1;
  width: 1em;
  height: 2em;
  position: relative;
  left: -8px;
  bottom: -4px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  stroke: var(--line);
  stroke-dasharray: 7.95 30;
  stroke-dashoffset: var(--stroke-dashoffset, 46);
  transition: stroke-dashoffset var(--stroke-duration, 0.15s)
    var(--stroke-easing, linear) var(--stroke-delay, 0s);
}

.underlinee:hover {
  --background-size: 0%;
  --background-delay: 0s;
  --stroke-dashoffset: 26;
  --stroke-duration: 0.3s;
  --stroke-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
  --stroke-delay: 0.195s;
}

.btm-text {
  font-size: 0.66em;
  font-family: "neue_normal";
  letter-spacing: -1px;
  font-weight: 500;
  margin-top: -20px;
  margin-left: 10px;
}

.btm-text span {
  font-family: "garamondd";
  font-style: italic;
  padding: 0em 4px;
}

.bottomText {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 2%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff8543;
  cursor: pointer;
}

.bottomText p {
  font-family: "neue_bold";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.32em;
  letter-spacing: -1px;
}
.bottomText ion-icon {
  margin-top: 4px;
  font-size: 0.32em;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.bottomText:hover ion-icon {
  opacity: 1;
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .techviz {
    font-size: 4em;
    letter-spacing: -4px;
  }

  .btm-text {
    font-size: 1.5em;
    margin-top: -8px;
    letter-spacing: normal;
    margin-left: 0px;
  }

  .bottomText ion-icon {
    font-size: 1.2em;
  }

  .bottomText p {
    font-size: 1em;
  }

  .links {
    gap: 2px;
    right: 0;
    top: 18px;
    flex-direction: row;
  }

  .underlinee span {
    font-size: 0.75em;
  }

  .prod-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    object-fit: contain;
    transform: scale(1.4);
  }

  .bottomText {
    bottom: 0%;
    left: 40%;
  }
}
